---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Sebastian Robayo's portfolio">
	<main>
		<h1 class="text-white">Sebastian Robayo's portfolio</h1>
	</main>
</Layout>