---
import Layout from "../layouts/Layout.astro";
import { getLangFromUrl } from "../i18n/utils";
import AboutMe from "../components/aboutMe/AboutMe.astro";
import Skills from "../components/skills/Skills.astro";

const lang = getLangFromUrl(Astro.url);
---

<Layout title="Sebastian Robayo's Portfolio">
	<main
		class="flex-grow overflow-x-scroll snap-x snap-mandatory scroll-smooth"
		id="mainContent"
	>
		<div
			class="h-full grid grid-cols-2 w-max *:w-screen *:snap-start *:snap-always *:overflow-y-scroll"
			id="content"
		>
			<section id="aboutMe" class="">
				<AboutMe />
			</section>
			<section id="skills" class="">
				<Skills />
			</section>

			<!-- <section class="" id="projects">

			</section> -->
		</div>
	</main>
</Layout>
<script>
	const mainContent = document.getElementById("mainContent");
	const sections = document.querySelectorAll("#content section");

	mainContent?.addEventListener("scroll", () => {
		var windowWidth = window.innerWidth;

		sections.forEach((section) => {
			var rect = section.getBoundingClientRect();
			var a = document.getElementById(`#${section.id}`);

			if (
				rect.right <= windowWidth * 1.3 &&
				rect.left >= -(windowWidth * 0.3)
			) {
				a?.classList.add("sectionSelected");
			} else {
				a?.classList.remove("sectionSelected");
			}
		});
	});
</script>
