---
import { getLangFromUrl } from "../i18n/utils";
import { colors } from "../styleVariables";
import Links from "../components/Links.astro";
import LanguagePicker from "../components/LanguagePicker.astro";
import { Icon } from "astro-icon/components";

interface Props {
	title: string;
}

const lang = getLangFromUrl(Astro.url);

const { title } = Astro.props;

const background = colors.sr[950];
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="relative flex flex-col text-white w-screen h-screen overflow-y-hidden font-ubuntu"
	>
		<header class="relative">
			<Links />
		</header>

		<slot />

		<footer class="sm:fixed right-5 top-0 flex justify-around items-center py-2 *:mx-5 sm:py-3">
			<a href={lang=== "es" ? "/cv.pdf": "/cv.pdf"}><Icon name="cv" class="text-3xl hover:scale-105" title="download cv"/></a>
			
			<LanguagePicker />
		</footer>
	</body>
</html>

<style is:global define:vars={{ background }}>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--background);
	}

	::-webkit-scrollbar {
		display: none;
	}
</style>
